﻿@model WCM.Models.Servico

@{
    /**/

    ViewBag.Title = "Excluir";
}

<h2>Excluir Serviço</h2>

<h3>Você tem certeza que deseja excluir?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Servico_a_executar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servico_a_executar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoBase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoBase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempoMedio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempoMedio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a Lista", "Lista")
        </div>
    }
</div>
