﻿@model IEnumerable<WCM.Models.Servico>

@{
    /**/

    ViewBag.Title = "Serviços";
}

@if (TempData["Msg"] != null)
{
    if (TempData["Msg"].ToString().Equals("Inserido com sucesso!"))
    {
        <div id="Esconder" style="text-align:center; background-color: aquamarine"> @TempData["Msg"] </div>
    }
    else
    {
        <div id="Esconder" style="text-align:center; background-color: red"> @TempData["Msg"] </div>
    }
}

<div class="inner">

    <h2>Lista de Serviços</h2>
    <p>
        @Html.ActionLink("Cadastre um Novo", "Servico")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Servico_a_executar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempoMedio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cod)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Servico_a_executar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecoBase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TempoMedio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cod)
                </td>

                <td>
                    @*@Html.ActionLink("Cadastre um Serviço", "Servico", "Servico", new { id = item.Cod+ "/" }, null) |*@
                    @Html.ActionLink("Editar", "Editar", "Servico", new { id = item.Cod + "/" }, null) |
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink("Excluir", "Excluir", "Servico", new { id = item.Cod + "/" }, null)
                </td>
            </tr>
        }

    </table>
</div>

@section Script{
    <script>
        $(document).ready(function () {
            $('#Esconder').delay(20000).fadeOut();
        });
    </script>
}