﻿ @model WCM.Models.OrdemDeServico

@{
                /**/

                /**/

                ViewBag.Title = "Cadastrar";
}
<div class="inner">
    <h2>Cadastrar Ordem De Servico</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="fields form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="field half form-group">
                @Html.LabelFor(model => model.Cpf, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" onchange="atualizaPlacas()">
                    @Html.DropDownList("listaCpf", "Selecione o CPF do Cliente")
                    @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger", })
                </div>
            </div>

            <div class="field half form-group">
                @Html.LabelFor(model => model.Placa, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("listaPlacas", "Selecione o veículo")
                    @Html.ValidationMessageFor(model => model.Placa, "", new { @class = "text-danger", })
                </div>
            </div>

            <div class="field half form-group">
                @Html.LabelFor(model => model.Tanque, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tanque, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tanque, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="field half form-group">
                @Html.LabelFor(model => model.Km_rodados, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Km_rodados, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Km_rodados, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="field half form-group">
                @Html.LabelFor(model => model.Data_entrada, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Data_entrada, new { htmlAttributes = new { @class = "form-control", type = "text", minlength = "10", maxlength = "10" } })
                    @Html.ValidationMessageFor(model => model.Data_entrada, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="field half form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Cadastrar" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("voltar para a lista", "Lista")
    </div>
</div>

@section Script{
    <script>
        //Máscaras
        $(document).ready(function () {
            $("#Data_entrada").mask("00/00/0000");
            $("#Data_saida").mask("00/00/0000");
            $("#Cep").mask("00000-000");
            $("#Celular").mask("(00)00000-0000");
            $("#Telefonefixo").mask("(00)0000-0000");
        });
        //Função para remover opções
        function removeOptions(selectbox) {
            var i;
            for (i = selectbox.options.length - 1; i >= 0; i--) {
                selectbox.remove(i);
            }
        }

        //Popular placas de veículo quando o cpf é selecionado
        function atualizaPlacas() {
            $.ajax({
                type: "POST",
                url: "/OrdemDeServico/GetPlacas",
                contentType: "application/json; charset=utf-8",
                data: '{"CPF":"' + document.getElementById("listaCpf").value + '"}',
                //dataType: "html",
                success: function (result, status, xhr) {
                    //Declaração de variáveis
                    var select, i, option;
                    select = document.getElementById('listaPlacas');
                    removeOptions(document.getElementById("listaPlacas"));
                    i = 0;
                    //para cada veículo é adicionado a sua respectiva placa
                    result.forEach(function () {
                        option = document.createElement("option");
                        option.text = result[i];
                        select.add(option);
                        i++;
                    });
                },
                error: function (xhr, status, error) {
                    //Mostra mensagem de erro
                    alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText);
                }
            });
        }
    </script>
}