﻿@model WCM.Models.Pertence

@{
    /**/
    ViewBag.Title = "CadastrarPertence";
}

<h2>CadastrarPertence</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Pertence</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="field half form-group">
            @Html.LabelFor(model => model.Servico, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" onchange="buscaCod()">
                @Html.DropDownList("listaServicos", "Selecione o serviço")
                @Html.ValidationMessageFor(model => model.Servico, "", new { @class = "text-danger", })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Preco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Preco, new { htmlAttributes = new { @class = "form-control", Type = "text" } })
                @Html.ValidationMessageFor(model => model.Preco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" onclick="cadastrarPertence()" class="btn btn-default" />
            </div>
        </div>
    </div>
    <dl>
        <dt>
            Serviços:
        </dt>
        @foreach (var item in ViewBag.listaServicosDaOrdem)
        {
            <dd>
                @item
            </dd>
        }
    </dl>
}

<div>
    @Html.ActionLink("Voltar para a lista", "Lista")
</div>
@section Script{
    <script>
        //Busca o código do serviço
        function buscaCod() {
            $.ajax({
                type: "POST",
                url: "/OrdemDeServico/BuscarCodServico",
                contentType: "application/json; charset=utf-8",
                data: '{"servico":"' + document.getElementById("listaServicos").value + '"}',
                //dataType: "json",
                success: function (result, status, xhr) {
                },
                error: function (xhr, status, error) {
                    //Mostra um alerta com o erro
                    alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText);
                }
            });
        }
        //Cadastra o serviço na OS
        function cadastrarPertence() {
            //alert(document.getElementById("Preco").value);
            $.ajax({
                type: "POST",
                url: "/OrdemDeServico/CadastrarPertenceJS",
                contentType: "application/json; charset=utf-8",
                data: '{"preco":"' + document.getElementById("Preco").value + '"}',
                //dataType: "json",
                success: function (result, status, xhr) {
                },
                error: function (xhr, status, error) {
                }
            });
        }
    </script>
}