﻿@model WCM.Models.OrdemDeServico

@{
                /**/

                ViewBag.Title = "Excluir";
}

<h2>Excluir Ordem de Serviço</h2>

<h3>Você tem certeza que deseja excluir?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ordem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ordem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tanque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tanque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Km_rodados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Km_rodados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_entrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_entrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_saida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_saida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Excluir" class="btn btn-default" /> |
    @Html.ActionLink("Voltar para Lista", "Lista")
</div>
}
</div>
