﻿@model IEnumerable<WCM.Models.OrdemDeServico>

@{
    /**/

    ViewBag.Title = "Lista";
}
<div class="inner">
    <h2>Lista de Ordem de Serviço</h2>

    <p>
        @Html.ActionLink("Cadastrar", "Cadastrar")
        @Html.ActionLink("Buscar", "Buscar", "OrdemDeServico")
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ordem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Km_rodados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_entrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_saida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ordem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tanque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Km_rodados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data_entrada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data_saida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", "OrdemDeServico", new { id = item.Ordem + "/" }, null) |
                    @Html.ActionLink("Detalhes", "Detalhes", "OrdemDeServico", new { id = item.Ordem + "/" }, null) |
                    @Html.ActionLink("Adicionar serviço", "CadastrarPertence", "OrdemDeServico", new { id = item.Ordem + "/" }, null) |
                    @Html.ActionLink("Excluir", "Excluir", "OrdemDeServico", new { id = item.Ordem + "/" }, null)

                </td>
            </tr>
        }

    </table>
</div>
@section Script{
    <script>
        //function buscaOrdem() {
        //    $.ajax({
        //        type: "POST",
        //        url: "/OrdemDeServico/BuscarOrdem",
        //        contentType: "application/json; charset=utf-8",
        //        data: '{"ordem":"' + document.getElementById("campoBusca").value + '"}',
        //        //dataType: "html",
        //        success: function (result, status, xhr) {
        //            alert("Result: " + result + " //Status: " + status + " //xhr: " + xhr);
        //            for (var item in result) {
        //                alert(item);
        //            }
        //        },
        //        error: function (xhr, status, error) {
        //            alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText);
        //        }
        //    });
        //}
    </script>
}