﻿@model WCM.Models.Home
@{
    /**/

    ViewBag.Title = "Index";
}



<!-- Sidebar -->
<section id="sidebar">
    <a href="#n" class="image"><img src="~/images/WCM.png" alt="" data-position="top center" /></a>
    <div class="inner">
        @*<a class="image"><img src="../images/LOGO1.png" alt="" data-position="top center" /></a>*@
        <nav>

            <ul>
                <li><a href="#banner">Bem Vindo</a></li>
                <li><a href="#one">Quem Nós Somos</a></li>
                <li><a href="#two">Oque Fazemos</a></li>
                @if (Session["Login"] == null)
                {
                    <li><a href="#three">Login</a></li>
                }
                <li><a href="#four">Entre em contato</a></li>
            </ul>
        </nav>
    </div>
</section>

<!-- Wrapper -->
<div id="wrapper">
    <!-- Intro -->
    <section id="banner" class="wrapper style1 fullscreen fade-up">
        <div class="inner">
            <h1>Bem vindo ao Workshop Control Management</h1>
            <p>
                Controle de serviços para oficinas. Sem papéis, totalmente dinâmico.
            </p>
            <ul class="actions">
                <li><a href="#two" class="button scrolly">Veja mais</a></li>
            </ul>
        </div>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style2 spotlights">
        <section>
            <a href="#" class="image"><img src="~/images/fachada.jpg" alt="" data-position="center center" /></a>
            <div class="content">
                <div class="inner">
                    <h2>Alunos SENAI</h2>
                    <p>Nós desenvolvedores, somos alunos da Escola SENAI Prof. Dr. Euryclides de Jesus Zerbini. O projeto foi desenvolvido como nosso trabalho de conclusão de curso.</p>
                    <ul class="actions">
                        <li><a href="https://campinaszerbini.sp.senai.br/" class="button">Veja Mais</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <a href="#" class="image"><img src="~/images/tecnomec_0234-tif.jpg" alt="" data-position="top center" /></a>
            <div class="content">
                <div class="inner">
                    <h2>Realidade nas oficinas </h2>
                    <p>Aqui você pode dar uma olhada nas oficinas que usam o nosso sistema. Estamos sempre procurando evoluir e adquirir novas funcionalidades! Seja um de nossos colaboradores!</p>
                    <ul class="actions">
                        <li><a href="#" class="button">Veja Mais</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper style3 fade-up">
        <div class="inner">
            <h2>O que Fazemos</h2>
            <p>
                Facilitamos o trabalho do controle de serviços nas oficinas mecânicas. Isso faz com que o funcionário não necessite de papéis para as ordens de serviço e o usuário possui informações sobre o andamento do trabalho em seu veículo sem a necessidade de telefonar ou comparecer à oficina.
                Nosso sistema possui plataforma WEB e Mobile (para sistema Android). Veja:
            </p>
            <div class="features">
                <section>
                    <span><img class="icon major fa-lock" src="~/images/iconeweb.png" /></span>

                    <h3>Sistema WEB:</h3>
                    <p>O funcionário realiza o cadastro do cliente e os serviços que serão realizados.</p>
                </section>

                <section>
                    <a>EM BREVE!</a>
                    <span><img class="icon major fa-lock" src="~/images/iconemobile.png" /> </span>
                    <h3>Aplicativo Mobile:</h3>
                    <p>O cliente possui informações sobre as etapas do serviço realizado em seu veículo, através de notificações. </p>
                </section>
            </div>
            <ul class="actions">
                <li><a href="https://drive.google.com/open?id=1CegGo2QTFulK33CHu3VessUbId46656j" class="button">Veja Mais</a></li>
            </ul>
        </div>
        <br />
        <br />
    </section>
    @if (Session["Login"] == null)
    {
        <!-- Three -->
        <section id="three" class="wrapper style2 fade-up">
            <br />
            <br />
            <br />
            <br />

            <div class="inner">
                <h2>Login</h2>
                <p>Efetue o Login para acessar a área restrita.</p>
                <div class="split style1">
                    <section>

                        @*<form method="post" action="/">*@
                        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="fields">
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="field half form-group">
                                    <h4>Usuário:</h4>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control", minlength = "14", maxlength = "14" } })
                                        @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="field half form-group">
                                    <h4>Senha:</h4>
                                    <div class="col-md-10 ">
                                        @Html.PasswordFor(model => model.Senha, new { htmlAttributes = new { @type = "password" } })
                                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="field half form-group">
                                    <ul class="col-md-offset-2 col-md-10 fer actions">
                                        <li><input type="submit" value="Logar" class="btn btn-default" /></li>
                                    </ul>
                                </div>
                            </div>
                        }
                        @*</form>*@

                    </section>
                    <section>
                        <ul class="contact">
                            <li>
                                <h3> Caso não possuir um Login:</h3>
                                <span>
                                    <br />
                                    Contate algum funcionário da Oficina<br />
                                    Ou mande um email logo abaixo.
                                </span>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <div class="lov">

            </div>

            <br />
            <br />
            <br />
            <br />
        </section>
    }
    <!--Four-->
    <section id="four" class="wrapper style1 fade-up">
        <br />
        <br />
        <div class="inner">
            <h2>Entre em Contato</h2>
            <p>Caso possuir alguma dúvida ou problema com o produto, envie um e-mail para nos ajudar a aprimorar o aplicativo.</p>
            <div class="split style1">
                <section>


                    @*<form method="post" action="#">*@
                    @using (Html.BeginForm("Enviar", "Home", FormMethod.Post, new { }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="fields">
                            @*<div class="field half">
                                    <label for="name">Nome</label>
                                    <input type="text" name="name" id="name" />
                                </div>*@
                            <div class="field half">
                                <label for="Assunto">E-mail</label>
                                <input type="text" name="Assunto" id="Assunto" />
                                @Html.ValidationMessageFor(model => model.Assunto, "", new { @class = "text-danger" })


                            </div>
                            <div class="field">
                                <label for="Texto">Mensagem</label>
                                <textarea style="resize: none" name="Texto" id="Texto" rows="5"></textarea>
                                @Html.ValidationMessageFor(model => model.Texto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="field half form-group">
                            <ul class="col-md-offset-2 col-md-10 fer actions">
                                <li><input type="submit" value="Enviar" class="btn btn-default" /></li>
                            </ul>
                        </div>
                    }

                    @*</form>*@


                </section>
                <section>
                    <ul class="contact">
                        <li>
                            <h3>Endereço</h3>
                            <span>
                                Av. da Saudade, 125 - Pte. Preta<br />
                                Campinas - SP, 13041-670<br />
                                Brasil
                            </span>
                        </li>
                        <li>
                            <h3>E-mail</h3>
                            <a href="#">workshop_control@hotmail.com</a>
                        </li>
                        <li>
                            <h3>Telefone</h3>
                            <span>(19)99411-4740</span>
                        </li>

                    </ul>
                </section>
            </div>
        </div>
        <br />
        <br />
        <br />
    </section>

</div>



@*Um timer para a barrinha com a mensagem sumir*@
@section Script{
    <script>
        $(document).ready(function () {
            $("#Cpf").mask("000.000.000-00");
            $('#Esconder').delay(5000).fadeOut();
        });
    </script>
}