﻿@model WCM.Models.Usuario

@{
    /**/

    ViewBag.Title = "Editar";
}
<div class="inner">
    <h2>Editar Usuários</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal fields">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="field half form-group">
                @Html.LabelFor(model => model.Cpf, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="field half form-group">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field half form-group">
                @Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control", minlength = "13", maxlength = "14" } })
                    @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="field half form-group">
                @Html.LabelFor(model => model.Telefonefixo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telefonefixo, new { htmlAttributes = new { @class = "form-control", minlength = "13", maxlength = "14" } })
                    @Html.ValidationMessageFor(model => model.Telefonefixo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="field half form-group">
                @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="field half form-group">
                @Html.LabelFor(model => model.Cep, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Cep, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cep, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="field half form-group">
                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" onchange="atualizaCidades()">
                    @Html.DropDownList("listaEstados2")
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger", })
                </div>
            </div>

            <div class="field half form-group">
                @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("listaCidades2")
                    @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="field half form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="field half form-group">
                @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="field half form-group">
                @Html.LabelFor(model => model.TipoUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TipoUsuario, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.TipoUsuario, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="field half form-group">
                @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="field half form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvar" class="btn btn-default" />

                </div>
                <div>
                    @Html.ActionLink("Voltar para a Lista", "Lista", "Usuario")
                </div>
            </div>
        </div>
    }
</div>

@section Script{
    <script>
        //Máscaras
        $(document).ready(function () {
            $("#Cpf").mask("000.000.000-00");
            $("#Cep").mask("00000-000");
            $("#Celular").mask("(00)00000-0000");
            $("#Telefonefixo").mask("(00)0000-0000");
        });

        //Função para remover opções
        function removeOptions(selectbox) {
            var i;
            for (i = selectbox.options.length - 1; i >= 0; i--) {
                selectbox.remove(i);
            }
        }

        ////Popular cidades quando o estado é selecionado
        function atualizaCidades() {
            $.ajax({
                type: "POST",
                url: "/Usuario/GetCidades",
                contentType: "application/json; charset=utf-8",
                data: '{"UF":"' + document.getElementById("listaEstados2").value + '"}',
                //dataType: "html",
                success: function (result, status, xhr) {
                    var select, i, option;
                    select = document.getElementById('listaCidades2');
                    removeOptions(document.getElementById("listaCidades2"));
                    i = 0;
                    result.forEach(function () {
                        option = document.createElement("option");
                        option.text = result[i];
                        select.add(option);
                        i++;
                    });
                },
                error: function (xhr, status, error) {
                    alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText);
                }
            });
        }
    </script>
}
