﻿@model WCM.Models.Usuario

@{
    /**/

    ViewBag.Title = "Excluir";
}
<div class="inner">
    <h2>Excluir Usuários</h2>

    <h3>Você tem certeza que deseja apagar este usuário?</h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefonefixo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoUsuario)
            </th>
        </tr>
        <tr>

            <td>
                @Html.DisplayFor(model => model.Nome)
            </td>
            <td>
                @Html.DisplayFor(model => model.Celular)
            </td>

            <td>
                @Html.DisplayFor(model => model.Telefonefixo)
            </td>

            <td>
                @Html.DisplayFor(model => model.Ativo)
            </td>

            <td>
                @Html.DisplayFor(model => model.Cpf)
            </td>
            <td>
                @Html.DisplayFor(model => model.TipoUsuario)
            </td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Endereco)
            </td>

            <td>
                @Html.DisplayFor(model => model.Cep)
            </td>

            <td>
                @Html.DisplayFor(model => model.Cidade)
            </td>

            <td>
                @Html.DisplayFor(model => model.Estado)
            </td>

            <td>
                @Html.DisplayFor(model => model.Email)
            </td>

            <td>
                @Html.DisplayFor(model => model.Senha)
            </td>

            <td>
                @Html.DisplayFor(model => model.Bairro)
            </td>

        </tr>
    </table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Lista")
        </div>
    }

</div>