﻿@model IEnumerable<WCM.Models.Usuario>

@{
    /**/

    ViewBag.Title = "Usuário";
}

@if (TempData["Msg"] != null)
{
    if (TempData["Msg"].ToString().Equals("Inserido com sucesso!"))
    {
        <div id="Esconder" style="text-align:center; background-color: aquamarine"> @TempData["Msg"] </div>
    }
    else
    {
        <div id="Esconder" style="text-align:center; background-color: red"> @TempData["Msg"] </div>
    }
}

<div class="inner">
    <h2>Listar Usuários</h2>
    <p>
        @Html.ActionLink("Cadastre um Novo", "Cadastrar")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefonefixo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefonefixo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoUsuario)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Bairro)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", "Usuario", new { id = item.Cpf + "/" }, null) |
                    @Html.ActionLink("Detalhes", "Detalhes", "Usuario", new { id = item.Cpf + "/" }, null) |
                    @Html.ActionLink("Excluir", "Excluir", "Usuario", new { id = item.Cpf + "/" }, null) |
                </td>
            </tr>
        }
    </table>
</div>

@section Script{
    <script>
        $(document).ready(function () {
            $('#Esconder').delay(20000).fadeOut();
        });
    </script>
}