﻿<!DOCTYPE html>
<html>
<head>
    <title>Workshop Control Management</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/main.css" />
    <noscript><link rel="stylesheet" href="~/Content/noscript.css" /></noscript>

</head>
<body id="inicio" class="is-preload">
    @if ((TempData["Msg"] ?? "").ToString() != null)
    {
        <div id="Esconder" style="text-align:center; background-color: aquamarine; color:#000000">@TempData["Msg"]</div>
    }
    <div id="n">
        @if (Session["Login"] != null && Session["Login"].ToString() == "Funcionário")
        {
            <!-- Header -->
            <header id="header">
                <div class="inner">
                    <img width="50" height="50" class="logo" src="../images/LOGO.png" alt="" data-position="top center" href="" />


                    <nav id="nav">

                        @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand title lol" })
                        @Html.ActionLink("Cliente", "Lista", "Usuario", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Serviço", "Lista", "Servico", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Ordem De Serviço", "Lista", "OrdemDeServico", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("SAIR", "Sair", "Home", new { area = "" }, new { @class = "navbar-brand" })


                    </nav>
                    <a href="#navPanel" class="navPanelToggle"><span class="fa"><img width="40" height="40" src="~/images/menu.png" /></span></a>
                </div>
            </header>
        }
        @if ((Session["Login"] != null && Session["Login"].ToString() == "Administrador"))
        {
            <!-- Header -->
            <header id="header">
                <div class="inner">
                    <img width="50" height="50" class="logo" src="../images/LOGO.png" alt="" data-position="top center" href="" />


                    <nav id="nav">
                        @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand title" })
                        @Html.ActionLink("Usuários", "Lista", "Usuario", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("SAIR", "Sair", "Home", new { area = "" }, new { @class = "navbar-brand" })


                    </nav><a href="#navPanel" class="navPanelToggle"><span class="fa"><img width="40" height="40" src="~/images/menu.png" /></span></a>
                </div>
            </header>
        }
    </div>
    <!-- Wrapper -->
    <div id="wrapper">


        @RenderBody()

        <!-- Footer -->
        <footer id="footer" class="wrapper alt">
            <div class="inner">
                <ul class="menu">
                    <li>&copy;Workshop Control Management.</li>
                    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </footer>
    </div>





    <!-- Scripts -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/jquery.scrollex.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/browser.min.js"></script>
    <script src="~/Scripts/breakpoints.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    @RenderSection("script", required: false)

    @if (@TempData["Msg"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                console.log(@TempData["Msg"].ToString())
                alert('@Html.Raw(TempData["Msg"].ToString())');
            }

        </script>
    }
    @section Script{
        <script>
            $(document).ready(function () {
                $('#Esconder').delay(5000).fadeOut();
            });
        </script>
    }
</body>
</html>
